{% extends "base.html" %}
{% block content %}
    <div class="detail">
        <p>休日の過ごし方を考えるとき</p>
        <p>人は3ステップの思考フローを辿ると思います。</p>
        <ol>
            <li>「ストレスが溜まっているからスカッとしたい」など休みへの想いを考える</li>
            <li>「そのためにはバンジージャンプだな」等、過ごし方を考える</li>
            <li>アクティビティーを探して予約する</li>
        </ol>
        <p>このフローの中で、1→2への移行にはその人各々のクリエイティブさ(?)が求められていると感じます。</p>
        <p><span>「スッキリしたい」などの休日への想い</span>から、<span>「それなら〇〇がいいよね」という過ごし方を考え出す</span>ことは想像力と創造力を必要とします。</p>
        <p><span>LIFAC</span>はそんな作業をスマートに行ってくれるAIアプリです。</p>
        <p><span>あなたのLIFEにActivityをプラスする</span></p>

        <div class="detail_link">
            <a href="/">さっそく検索する<i class="fa-solid fa-paper-plane"></i></a>
        </div>
    </div>


{% endblock %}